<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/common.js}" defer></script>
    <script th:src="@{/static/js/script.js}"></script>

</head>
<body>
<header>
    <h1>Login</h1>
</header>
<main>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
    </form>
    <img th:src="@{/images/login-image.png}" alt="Login" />
</main>
<footer>
    <p>&copy; 2024 Your Company</p>
</footer>
</body>
</html>
